.download-section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    height: 1000px;
    overflow: hidden;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100vw;
        }
    }

    .download-wrapper {
        display: flex;
        justify-content: flex-end;
        margin: auto;
        width: 100%;
        max-width: 70rem;
    }

    .download-content {
        display: flex;
        max-width: 35rem;
        flex-direction: column;
        gap: 40px;
        font-size: 30px;

        .download-text {
            width: 100%;
        }

        h3 {
            color: #4e108f;
        }
    }
}

.download-links {
    display: flex;
    gap: 10px;

    .store-info {
        border-radius: 6px;
        background-color: black;

        .store-text {
            p {
                font-size: 20px;
            }

            #text-label {
                font-size: 10px;
            }
        }

        a {
            display: flex;
            padding: 10px 25px 10px 25px;
            gap: 13px;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;

            .store-icon {
                display: flex;

                img {
                    width: 100%;
                    max-width: 25px;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 1330px) {

    .download-section {
        height: 700px;
        margin-top: 0;
    }
}

@media screen and (max-width: 720px) {
    .footer .footer-container .footer-section .logo-section {
        align-items: center;

        .logo-content {
            align-items: center;
        }
    }

    .footer .footer-container .footer-section .about-section {
        align-items: center;

        .about-links {
            align-items: center !important;
        }
    }

    .footer .footer-container .footer-section .product-section {
        align-items: center;

        .product-links {
            align-items: center !important;
        }
    }

    .download-section .download-content h3 {
        font-size: 30px;
    }

    .download-section .download-content {
        padding: 0 1rem;
        align-items: center;

        strong {
            font-size: 16px;
        }
    }

    .download-section {
        height: 650px !important;
    }

    .download-section .download-wrapper {
        justify-content: center;
        margin-top: auto !important;
        margin-bottom: 0 !important;
    }
}