.footer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 10rem;
    justify-content: flex-end;
    overflow: hidden;

    .footer-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        max-width: 70rem;
        width: 100%;

        .footer-section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 200px;

            .logo-section {
                display: flex;
                flex-direction: column;
                gap: 20px;

                img {
                    width: 100%;
                    max-width: 200px;
                }

                .logo-content {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    a {
                        text-decoration: none;
                    }
                }

                .help-link {
                    display: flex;
                    align-items: center;
                    color: white;
                    gap: 10px;
                }
            }


            .about-section {
                //About
                display: flex;
                flex-direction: column;
                color: white;

                h3 {
                    padding-bottom: 40px;
                }

                .about-links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }

            .product-section {
                //Our Product
                display: flex;
                flex-direction: column;
                color: white;

                h3 {
                    padding-bottom: 40px;
                }

                .product-links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }


        }

        .footer-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #b184d7;
            padding-top: 30px;

            p {
                color: white;
            }

            .social-icons {
                display: flex;
                gap: 25px;

                img {
                    width: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 1330px) {
    .footer .footer-container .footer-section {
        justify-content: space-around;
    }

    .footer .footer-container .footer-info {
        justify-content: space-around;
    }
}

@media screen and (max-width: 720px) {
    .footer .footer-container .footer-section {
        flex-direction: column;
    }

    .footer {
        padding: 1rem;
        background-color: #550db9;
    }

    .footer-image {
        display: none;
    }
    .footer-section {
        margin-bottom: 50px !important;

        h3 {
            padding-bottom: 15px !important;
            padding-top: 30px !important;
        }
    }

}