* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    height: 90px;
    align-items: center;
    padding: 1.5rem 10rem;
    justify-content: center;

    nav {
        display: flex;
        width: 100rem;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;

        .logo-container {
            display: flex;
            align-items: center;

            img {
                width: 100%;
                min-width: 150px;
                height: auto;
            }
        }

        ul {
            display: flex;
            margin-left: 40px;
            gap: 60px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: #847f9f;
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }

        .login-button {
            display: flex;
            gap: 10px;
            justify-content: space-between;

            a {
                display: flex;
                align-items: center;
                padding: 9px 15px;
                border: 1px solid #cadafb;
                border-radius: 10px;
                font-weight: 600;
                color: #2c69f7;
                text-decoration: none;
            }

            #login-icon {
                border: none;
                background: transparent;
                gap: 5px;
                color: #572c95;

                img {
                    max-width: 15px;
                }
            }
        }

        .mobile-menu-icon {
            display: none;
        }
    }

    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 1330px) {

    header {
        padding: 1.5rem 4rem;
        max-width: 71rem;
        margin: auto;
    }

    .nav-item {
        display: none;

        a {
            text-decoration: none;
            color: #847f9f;
        }
    }

    .login-button {
        display: none !important;
    }

    .mobile-menu-icon {
        display: block !important;
    }

    .mobile-menu-icon button {
        background-color: #5510a1;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

    }

    .mobile-menu .nav-item {
        display: block;
        padding: 1rem;
    }

    .mobile-menu .login-button {
        display: flex !important;
        align-items: center;
        gap: 30px;
        padding: 1.3rem;
        border-top: 1px solid #d1d1d1;

        img {
            display: none;
        }

        #login-icon {
            color: #572c95;
        }

        a {
            color: #2c69f7;
            font-weight: 600;
            text-decoration: none;
        }
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .mobile-menu {
        position: absolute;
        border-radius: 10px;
        top: 10%;
        left: 82.1%;
        min-width: 10%;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        ul {
            padding: 0;
        }

        &.open {
            display: block;
        }

        .login-button {

            a {
                display: flex;
                align-items: center;
            }
        }
    }

}

@media screen and (max-width: 1265px) {
    .mobile-menu {
        top: 10%;
        left: 81%;
    }
}

@media screen and (max-width: 1195px) {
    .mobile-menu {
        top: 10%;
        left: 80%;
    }
}

@media screen and (max-width: 1090px) {
    .mobile-menu {
        top: 10%;
        left: 77.5%;
    }
}

@media screen and (max-width: 1024px) {
    .mobile-menu {
        top: 10%;
        left: 76%;
    }
}

@media screen and (max-width: 720px) {
    header {
        padding: 1.5rem 1rem;
    }

}

@media screen and (max-width: 768px) {
    .mobile-menu {
        top: 10%;
        left: 73%;
    }
}

@media screen and (max-width: 425px) {

    .mobile-menu {
        top: 10%;
        left: 53%;
    }
}

@media screen and (max-width: 375px) {
    .mobile-menu {
        top: 10%;
        left: 48%;
    }
}

@media screen and (max-width: 320px) {
    .mobile-menu {
        top: 10%;
        left: 38%;
    }
}