main {
    display: flex;
    align-items: center;

    .main-content {
        display: flex;
        padding: 1.5rem 10rem;

        .intro-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            width: 50%;

            h1 {
                font-size: 48px;
                color: #5510a1;
            }

            p {
                font-size: 16px;
                color: #797492;
            }

            a {
                padding: 1rem 1.5rem;
                font-size: 18px;
                font-weight: 600;
                background: linear-gradient(90deg, #5d66e9, #27e0fc);
                border-radius: 10px;
                color: white;
                text-decoration: none;
            }

        }
    }

    .main-img {
        display: flex;
        justify-content: flex-end;
        width: 70%;

        img {
            width: 100%;
            max-width: 800px;
            height: auto;
        }
    }
}

@media screen and (max-width: 1024px) {
    main .main-content .intro-text h1 {
        font-size: 30px;
    }

    main .main-content .intro-text p {
        font-size: 15px;
    }

    main .main-content .intro-text a {
        font-size: 15px;
    }

    main .main-content {
        padding: 1.5rem 4rem;
    }

    .main-img img {
        display: none;
    }

}

@media screen and (max-width: 720px) {
    main .main-content {
        padding: 0;
        width: 100%;
        flex-direction: column;
    }

    main {
        flex-direction: column;
        padding: 1.5rem 1rem;
    }

    main .intro-text {
        width: 100% !important;
    }
}