@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  height: 90px;
  align-items: center;
  padding: 1.5rem 10rem;
  justify-content: center;
}
header nav {
  display: flex;
  width: 100rem;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
header nav .logo-container {
  display: flex;
  align-items: center;
}
header nav .logo-container img {
  width: 100%;
  min-width: 150px;
  height: auto;
}
header nav ul {
  display: flex;
  margin-left: 40px;
  gap: 60px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #847f9f;
  font-size: 20px;
  font-weight: 400;
}
header nav .login-button {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
header nav .login-button a {
  display: flex;
  align-items: center;
  padding: 9px 15px;
  border: 1px solid #cadafb;
  border-radius: 10px;
  font-weight: 600;
  color: #2c69f7;
  text-decoration: none;
}
header nav .login-button #login-icon {
  border: none;
  background: transparent;
  gap: 5px;
  color: #572c95;
}
header nav .login-button #login-icon img {
  max-width: 15px;
}
header nav .mobile-menu-icon {
  display: none;
}
header .mobile-menu {
  display: none;
}

@media screen and (max-width: 1330px) {
  header {
    padding: 1.5rem 4rem;
    max-width: 71rem;
    margin: auto;
  }
  .nav-item {
    display: none;
  }
  .nav-item a {
    text-decoration: none;
    color: #847f9f;
  }
  .login-button {
    display: none !important;
  }
  .mobile-menu-icon {
    display: block !important;
  }
  .mobile-menu-icon button {
    background-color: #5510a1;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    padding: 1rem;
  }
  .mobile-menu .login-button {
    display: flex !important;
    align-items: center;
    gap: 30px;
    padding: 1.3rem;
    border-top: 1px solid #d1d1d1;
  }
  .mobile-menu .login-button img {
    display: none;
  }
  .mobile-menu .login-button #login-icon {
    color: #572c95;
  }
  .mobile-menu .login-button a {
    color: #2c69f7;
    font-weight: 600;
    text-decoration: none;
  }
  .mobile-menu .login-button button {
    width: 100%;
  }
  .mobile-menu {
    position: absolute;
    border-radius: 10px;
    top: 10%;
    left: 82.1%;
    min-width: 10%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .mobile-menu ul {
    padding: 0;
  }
  .mobile-menu.open {
    display: block;
  }
  .mobile-menu .login-button a {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1265px) {
  .mobile-menu {
    top: 10%;
    left: 81%;
  }
}
@media screen and (max-width: 1195px) {
  .mobile-menu {
    top: 10%;
    left: 80%;
  }
}
@media screen and (max-width: 1090px) {
  .mobile-menu {
    top: 10%;
    left: 77.5%;
  }
}
@media screen and (max-width: 1024px) {
  .mobile-menu {
    top: 10%;
    left: 76%;
  }
}
@media screen and (max-width: 720px) {
  header {
    padding: 1.5rem 1rem;
  }
}
@media screen and (max-width: 768px) {
  .mobile-menu {
    top: 10%;
    left: 73%;
  }
}
@media screen and (max-width: 425px) {
  .mobile-menu {
    top: 10%;
    left: 53%;
  }
}
@media screen and (max-width: 375px) {
  .mobile-menu {
    top: 10%;
    left: 48%;
  }
}
@media screen and (max-width: 320px) {
  .mobile-menu {
    top: 10%;
    left: 38%;
  }
}
main {
  display: flex;
  align-items: center;
}
main .main-content {
  display: flex;
  padding: 1.5rem 10rem;
}
main .main-content .intro-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 50%;
}
main .main-content .intro-text h1 {
  font-size: 48px;
  color: #5510a1;
}
main .main-content .intro-text p {
  font-size: 16px;
  color: #797492;
}
main .main-content .intro-text a {
  padding: 1rem 1.5rem;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(90deg, #5d66e9, #27e0fc);
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
main .main-img {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
main .main-img img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  main .main-content .intro-text h1 {
    font-size: 30px;
  }
  main .main-content .intro-text p {
    font-size: 15px;
  }
  main .main-content .intro-text a {
    font-size: 15px;
  }
  main .main-content {
    padding: 1.5rem 4rem;
  }
  .main-img img {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  main .main-content {
    padding: 0;
    width: 100%;
    flex-direction: column;
  }
  main {
    flex-direction: column;
    padding: 1.5rem 1rem;
  }
  main .intro-text {
    width: 100% !important;
  }
}
.our-services {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-services .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-services .section-content .get-started-section img {
  max-width: 160px;
}
.our-services .section-content .get-started-section h2 {
  margin-top: 40px;
  font-size: 40px;
  color: #4e0d8d;
}

.solution-icons {
  display: flex;
  align-items: flex-start;
  margin-top: 100px;
  gap: 100px;
}
.solution-icons .process-step {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.solution-icons .process-step img {
  width: 100%;
  max-width: 200px;
}
.solution-icons .process-step h3 {
  margin-bottom: 25px;
  color: #4e0d8d;
}
.solution-icons .process-step p {
  color: #89859c;
}
.solution-icons .process-step .account-info {
  display: flex;
  flex-direction: column;
  max-width: 210px;
}

@media screen and (max-width: 1330px) {
  .our-services .section-content .get-started-section h2 {
    font-size: 30px;
  }
  .solution-icons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .process-step {
    width: calc(50% - 50px);
    max-width: 400px;
  }
}
.about-platform-section {
  display: flex;
  align-items: center;
}
.about-platform-section .about-platform-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  max-width: 35rem;
  width: 50%;
}
.about-platform-section .about-platform-content img {
  max-width: 160px;
}
.about-platform-section .about-platform-content p {
  font-size: 1.3rem;
  color: #8986a5;
}
.about-platform-section .about-platform-content a {
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  color: #6098f5;
  width: 100px;
}
.about-platform-section .about-platform-content a p {
  color: #6098f5;
}
.about-platform-section .about-platform-image {
  width: 50%;
}
.about-platform-section .about-platform-image img {
  width: 100%;
  max-width: 800px;
}

@media screen and (max-width: 1024px) {
  .about-platform-image {
    display: none;
  }
  .about-platform-section {
    margin-top: 100px;
    justify-content: center;
  }
}
@media screen and (max-width: 720px) {
  .about-platform-section .about-platform-content {
    width: 100%;
    padding: 0 1rem;
  }
}
.safety-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.safety-section .safety-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 35rem;
  width: 50%;
}
.safety-section .safety-content img {
  width: 160px;
}
.safety-section .safety-content h3 {
  font-size: 2rem;
  color: #4f05b2;
}
.safety-section .safety-content p {
  color: #8986a5;
  font-size: 1.3rem;
}
.safety-section .safety-content p a {
  color: #5a14a8;
  border-bottom: 5px solid #5a14a8;
  width: 50px;
}
.safety-section .safety-content a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2176eb;
  width: 100px;
}
.safety-section .safety-content a p {
  color: #2176eb;
}
.safety-section .safety-image {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.safety-section .safety-image img {
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 1024px) {
  .safety-image img {
    display: none;
  }
  .safety-section {
    margin-top: 100px;
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  .safety-section .safety-content {
    width: 100%;
    padding: 0 1rem;
  }
}
.download-section {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  height: 1000px;
  overflow: hidden;
}
.download-section .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.download-section .background-image img {
  width: 100vw;
}
.download-section .download-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  width: 100%;
  max-width: 70rem;
}
.download-section .download-content {
  display: flex;
  max-width: 35rem;
  flex-direction: column;
  gap: 40px;
  font-size: 30px;
}
.download-section .download-content .download-text {
  width: 100%;
}
.download-section .download-content h3 {
  color: #4e108f;
}

.download-links {
  display: flex;
  gap: 10px;
}
.download-links .store-info {
  border-radius: 6px;
  background-color: black;
}
.download-links .store-info .store-text p {
  font-size: 20px;
}
.download-links .store-info .store-text #text-label {
  font-size: 10px;
}
.download-links .store-info a {
  display: flex;
  padding: 10px 25px 10px 25px;
  gap: 13px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.download-links .store-info a .store-icon {
  display: flex;
}
.download-links .store-info a .store-icon img {
  width: 100%;
  max-width: 25px;
  height: auto;
}

@media screen and (max-width: 1330px) {
  .download-section {
    height: 700px;
    margin-top: 0;
  }
}
@media screen and (max-width: 720px) {
  .footer .footer-container .footer-section .logo-section {
    align-items: center;
  }
  .footer .footer-container .footer-section .logo-section .logo-content {
    align-items: center;
  }
  .footer .footer-container .footer-section .about-section {
    align-items: center;
  }
  .footer .footer-container .footer-section .about-section .about-links {
    align-items: center !important;
  }
  .footer .footer-container .footer-section .product-section {
    align-items: center;
  }
  .footer .footer-container .footer-section .product-section .product-links {
    align-items: center !important;
  }
  .download-section .download-content h3 {
    font-size: 30px;
  }
  .download-section .download-content {
    padding: 0 1rem;
    align-items: center;
  }
  .download-section .download-content strong {
    font-size: 16px;
  }
  .download-section {
    height: 650px !important;
  }
  .download-section .download-wrapper {
    justify-content: center;
    margin-top: auto !important;
    margin-bottom: 0 !important;
  }
}
.registration-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.registration-section .container {
  display: flex;
  justify-content: space-between;
  width: 70rem;
}
.registration-section .registration-step {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.registration-section .registration-step .registration-content {
  display: flex;
  align-items: center;
  gap: 60px;
}
.registration-section .registration-step .registration-content h3 {
  font-size: 40px;
  color: #550db9;
}
.registration-section .registration-step .registration-content img {
  max-width: 100%;
  width: 45px;
  height: auto;
}
.registration-section .registration-step .divider img {
  width: 135px;
}

@media screen and (max-width: 1330px) {
  .registration-section .container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .registration-section {
    height: 500px;
    align-items: center;
  }
}
@media screen and (max-width: 720px) {
  .registration-section .registration-step .registration-content h3 {
    font-size: 30px;
  }
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 10rem;
  justify-content: flex-end;
  overflow: hidden;
}
.footer .footer-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  width: 100%;
}
.footer .footer-container .footer-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer .footer-container .footer-section .logo-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-container .footer-section .logo-section img {
  width: 100%;
  max-width: 200px;
}
.footer .footer-container .footer-section .logo-section .logo-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-container .footer-section .logo-section .logo-content a {
  text-decoration: none;
}
.footer .footer-container .footer-section .logo-section .help-link {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
.footer .footer-container .footer-section .about-section {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer .footer-container .footer-section .about-section h3 {
  padding-bottom: 40px;
}
.footer .footer-container .footer-section .about-section .about-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer .footer-container .footer-section .about-section .about-links a {
  text-decoration: none;
  color: white;
}
.footer .footer-container .footer-section .product-section {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer .footer-container .footer-section .product-section h3 {
  padding-bottom: 40px;
}
.footer .footer-container .footer-section .product-section .product-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer .footer-container .footer-section .product-section .product-links a {
  text-decoration: none;
  color: white;
}
.footer .footer-container .footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b184d7;
  padding-top: 30px;
}
.footer .footer-container .footer-info p {
  color: white;
}
.footer .footer-container .footer-info .social-icons {
  display: flex;
  gap: 25px;
}
.footer .footer-container .footer-info .social-icons img {
  width: 25px;
}

@media screen and (max-width: 1330px) {
  .footer .footer-container .footer-section {
    justify-content: space-around;
  }
  .footer .footer-container .footer-info {
    justify-content: space-around;
  }
}
@media screen and (max-width: 720px) {
  .footer .footer-container .footer-section {
    flex-direction: column;
  }
  .footer {
    padding: 1rem;
    background-color: #550db9;
  }
  .footer-image {
    display: none;
  }
  .footer-section {
    margin-bottom: 50px !important;
  }
  .footer-section h3 {
    padding-bottom: 15px !important;
    padding-top: 30px !important;
  }
}

/*# sourceMappingURL=style.css.map */
